
@media(max-width: 830px){
    nav .icon-menu{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: red;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    nav ul a{
        margin: 8px 0;
        font-size: 18px;
    }
    nav ul .open{
        clip-path: circle(141.2% at 100% 0);
    }
    nav .close-icon{
        position: absolute;
        top: 46px;
        right: 28px;
        display: block;
    }
    .learn-more .container2{
        display:block;
    }
    .learn-more .learn-more-txt h3{
        font-size: 50px;
    }
    .learn-more .learn-more-txt{
        width: 100%;
        padding: 10vh 20vh;
        text-align: center;

    }
    .learn-more .learn-more-img{
        width: 100%;
    }
    .learn-more .learn-more-txt a::after{
        content: "";
        background-color: #ececa5;
        height: 5px;
        width: 20%;
        display: block;
        margin-left: 9.5rem;
    }
    .container3{
        display: block;
    }
    .container3 .twopics{
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .container3 .twopics h3{
        bottom: 12rem;
        left: 15rem;
        font-size: 28px;
    }
    .container3 .twopics p{
        position: absolute;
        top: 19rem;
        right: 2rem;
        padding: 15vh;
        text-align: center;
    }
    .client-testimonials .clients-container{
        display: block;
    }
    .clients-container .clients{
        padding-bottom: 5rem;
    }
    .gallery-img img{
        width: 50%;
    }
}

